<div class="row">
  <aside class="col-md-4"> 
    <section class="user_info">
      <img src =<%= current_user.image %>></img>
    <h1>
        <%= current_user.name %>
    </h1>
    </section>
  </aside>
</div>