<!DOCTYPE html>
<html lang="en">

  <div class="page-header header-filter clear-filter purple-filter" style="">

    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <h2 class="title">Latest Blogposts 2</h2>
          <br>
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <div class="card"> 
                <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/joinybucket/events/1765/c804b039-379c-4a2f-892d-30c3880afe99.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Сходить на Neuropunk</h4>
                  <div class="text-right"><button class="btn btn-success btn-round btn-sm">Join</button></div>
                  <p class="card-text"><i class="material-icons">event</i> 31 mar, 19:00</p>
                  <p class="card-text"><i class="material-icons">group</i> 2 from 4</p>
                  <div class="author">
                    <a href="#pablo">
                      <img src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?auto=format&fit=crop&w=334&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="..." class="avatar img-raised">
                      <span>Lord Alex</span>
                    </a>
                  </div>
                  <span class="badge badge-pill badge-info">Concert</span>
                  <span class="badge badge-pill badge-info">Relax</span>
                  <span class="badge badge-pill badge-info">Beer</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card"> 
                <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/joinybucket/gatherings/BtdYWe8mLU/de6374fe-b666-413c-bb6c-26e5306f2ed3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div>

  </div>
</body>

</html>