<div class="card card-refine card-plain card-rose">
  <div class="card-body">
    <h4 class="card-title">
      Refine
      <button class="btn btn-default btn-fab btn-fab-mini btn-link pull-right" rel="tooltip" title="" data-original-title="Reset Filter">
        <i class="material-icons">cached</i>
      </button>
    </h4>
    <div id="accordion" role="tablist">
      <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              Tags
              <i class="material-icons">keyboard_arrow_down</i>
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree" style="">
          <div class="card-body text-left">
            <% tags.each do |t| %>
                <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""> <%= t.name %>
                    <span class="form-check-sign">
                    <span class="check"></span>
                    </span>
                </label>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingFour">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Participants
              <i class="material-icons">keyboard_arrow_down</i>
            </a>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="card-body text-left">
            <% users.each do |u| %>
                <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""> <%= u.name %>
                    <span class="form-check-sign">
                    <span class="check"></span>
                    </span>
                </label>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary btn-round">Find<button>
  </div>
</div>